<div class="card text-bg-light" (click)="onCourseCardClick()">
  <div class="card-header lead d-flex">
    {{ course().title }}
    @if (userStore.user()?.role === Role.Instructor){
    <button class="btn btn-danger ms-auto d-flex" [disabled]="isProcessing()" (click)="deleteCourse($event)">
      <img src="trash-fill.svg" class="m-1"/>
    </button>
    }
  </div>
  <div class="card-body">
    <p
      class="card-text"
      style="
        height: 100px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      "
    >
      {{ course().description }}
    </p>
  </div>

  @if (userStore.user()?.role === Role.Instructor) {
  <div class="p-3 d-grid text-center">
    <button
      class="btn btn-info text-white"
      (click)="navigateToCourseEditPage($event)"
    >
      Click to Edit
    </button>
  </div>

  } @if (userStore.user()?.role === Role.Student) {
  <div class="vstack gap-1">
    <div class="text-danger opacity-75 text-center" style="height: 20px">
      @if (isEnrollmentMessageVisible()) { Please enroll to enter the course }
    </div>
    <div class="p-3 d-grid text-center">
      <button
        [disabled]="isProcessing()"
        class="btn text-white"
        [ngClass]="course().isEnrolled ? 'btn-success opacity-75' : 'btn-info'"
        (click)="
          course().isEnrolled ? unenrollUser($event) : enrollUser($event)
        "
      >
        <div>
          {{ course().isEnrolled ? "Enrolled" : "Enroll Now" }}
        </div>
      </button>
    </div>
  </div>
  }
</div>
