<div class="row row-cols-lg-3 row-cols-md-2 p-2 flex-column">
  <div class="container">
    <div class="mb-2">
      <h3 class="fw-bold m-0">{{ userStore.user()?.name }}'s Profile</h3>
      <div class="d-flex">
          <h5 class="lead align-self-end m-0">Role: {{ Role[userStore.user()!.role] }}</h5>
          <button class="btn btn-danger text-white ms-auto" [disabled]="isProcessing()" (click)="deleteUser()">
            Delete User
          </button>
      </div>
    </div>
    <hr class="my-4" />
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 p-2 mb-2">
  <div class="container bg-light shadow-sm p-3 rounded">
    <form
      [formGroup]="editUserForm"
      (ngSubmit)="isProcessing() ? '' : onSubmit()"
    >
      <label for="name" class="form-label">Name</label>
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
        [ngClass]="formUtils.getValidationClass(name)"
      />

      <div class="text-danger mb-4 mt-2 p-1">
        @if (name?.invalid && (name?.touched || name?.dirty)) {
        <ul class="m-0 bg-danger-subtle rounded">
          @if (name?.getError('required')) {
          <li class="p-1">Name is required.</li>
          } @if (name?.getError('minlength')) {
          <li class="p-1">Name can't be less than 2 characters.</li>
          }
        </ul>
        }
      </div>

      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        class="form-control"
        type="email"
        formControlName="email"
        [ngClass]="formUtils.getValidationClass(email)"
      />

      <div class="text-danger mb-4 mt-2 p-1">
        @if (email?.invalid && (email?.touched || email?.dirty)) {
        <ul class="m-0 bg-danger-subtle rounded">
          @if (email?.getError('required')) {
          <li class="p-1">Email field is required.</li>
          } @if (email?.getError('email')) {
          <li class="p-1">Please enter a valid email address.</li>
          }
        </ul>
        }
      </div>

      <div class="text-center">
        <button class="btn btn-info text-white" [disabled]="isProcessing()">
          Edit Profile
        </button>
      </div>
    </form>
  </div>
</div>

