<div class="row row-cols-lg-3 
                row-cols-md-2
                p-2">
  <div class="container bg-light shadow-sm p-3 rounded">
    <form [formGroup]="addCourseForm" (ngSubmit)="isProcessing() ? '' : onSubmit()">
      <div class="container mb-4">
        <h1 class="fw-bold text-secondary-emphasis">Add Course</h1>
      </div>
      <hr class="mb-4" />
      <label for="title" class="form-label">Title</label>
      <input
        class="form-control"
        id="title"
        type="text"
        formControlName="title"
        [ngClass]="formUtils.getValidationClass(title)"
      />

      <div class="text-danger mb-4 mt-2 p-1">
        @if (title?.invalid && (title?.touched || title?.dirty)) {
        <ul class="m-0 bg-danger-subtle rounded">
          @if (title?.getError('required')) {
          <li class="p-1">Title is required.</li>
          } @if (title?.getError('maxlength')) {
          <li class="p-1">Title can't be more than 30 characters.</li>
          }
        </ul>
        }
      </div>

      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        placeholder="What's the course about ?"
        id="description"
        style="height: 100px"
        formControlName="description"
        [ngClass]="formUtils.getValidationClass(description)"
      ></textarea>

      <div class="text-danger mb-4 mt-2 p-1">
        @if (description?.invalid && (description?.touched ||
        description?.dirty)) {
        <ul class="m-0 bg-danger-subtle rounded">
          @if (description?.getError('required')) {
          <li class="p-1">Description is required.</li>
          } @if (description?.getError('minlength')) {
          <li class="p-1">Description can't be less than 3 characters.</li>
          } @if (description?.getError('maxlength')) {
          <li class="p-1">Description can't be more than 100 characters.</li>
          }
        </ul>
        }
      </div>

      <div class="text-center">
        <button class="btn btn-info text-white" [disabled]="isProcessing()">Add Course</button>
      </div>
    </form>
  </div>
</div>
