<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-9 col-sm-12">
        <section class="hero-section mt-5">
          <div class="container">
              <div class="text-center">
                <h1 class="display-4 fw-bold mb-4">
                  Expand Your Skills with Expert-Led Courses
                </h1>
                <p class="lead mb-4">
                  Learn at your own pace with our comprehensive library of courses from
                  industry experts.
                </p>
                <button class="btn btn-info text-white btn-lg shadow-sm" routerLink="/auth/register">Join Now</button>
              </div>
          </div>
        </section>
    </div>
</div>
